body
{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  position: relative;

}

label
{
  margin: 0px;
}

input[type=text], select, textarea, #country
{
  width: 100%;
  padding: 12px;
  border: 1px solid #1f58f7;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=button]
{
  background-color: #1f58f7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover
{
  background-color: rgb(138, 83, 163);
}

.container
{
  border: #1f58f7 solid 1px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 3%;
  margin-bottom: 20px;
  position: static;
}

.container1
{
    padding: 20px;
}

#mail-box
{
  width: 90%;
  border: solid 1px #1f58f7;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  position: relative;
  top: 20%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.flip-card
{
  background-color: transparent;
  perspective: 1000px;
  position: relative;
  width: 100%;
  height: 100%;
}

h1
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
  color: black;
  margin: 10px auto;
  text-align: center;
}

span
{
  margin-bottom: 10px;;
}
