 .last-part .testimonial img{

  height: 400px;

  
}
.last-part .testimonial{
  padding-left: 90px;
  padding-right: 90px;
}

@font-face {
  font-family: "orbitron";
  src: url("../fonts/Pacifico/Orbitron-Regular.ttf");
   
  }

.testimonial-text{
font-family: "orbitron";
font-weight: bold;
font-size: 30px;
color:white

}
.top-cont{
  background-image: url("../img/testmonial.png");
}