@font-face {
    font-family: "pacificofont";
    src: url("../fonts/Pacifico/Pacifico-Regular.ttf");
     
    }


    .meet-head-style{  /* neeed SOLVEEEEEE*/
        font-family: 'pacificofont';

    }

    .meet-inst{
        font-family: 'Courier New', Courier, monospace;
        
    }  

    .meet-inst  h1{
        float:left;
         width:100%;
          color:#232323; 
          margin-bottom:30px;
           font-size: 14px;}
    .meet-inst h1 span
    {font-family: 'Times New Roman', Times, serif; 
         display:block; font-size:45px; text-transform:none;
          margin-bottom:20px; margin-top:30px; font-weight:700}
    .meet-inst h1 a{color:#131313; font-weight:bold;}

    .profile-card-1 {
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        color: #ffffff;
        text-align: center;
        height:368px;
        border:none;
      }
      .profile-card-1 .background {
        width:100%;
        vertical-align: top;
        opacity: 0.9;
        -webkit-filter: blur(5px);
        filter: blur(5px);
         -webkit-transform: scale(1.8);
        transform: scale(2.8);
      }
      .profile-card-1 .card-content {
        width: 100%;
        padding: 15px 25px;
        position: absolute;
        left: 0;
        top: 50%;
      }
      .profile-card-1 .profile {
        border-radius: 50%;
        position: absolute;
        bottom: 50%;
        left: 50%;
        max-width: 100px;
        opacity: 1;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 1);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
      }
      .profile-card-1 h2 {
        margin: 0 0 5px;
        font-weight: 600;
        font-size:25px;
      }
      .profile-card-1 h2 small {
        display: block;
        font-size: 15px;
        margin-top:10px;
      }
      .profile-card-1 i {
        display: inline-block;
          font-size: 16px;
          color: #ffffff;
          text-align: center;
          border: 1px solid #fff;
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 50%;
          margin:0 5px;
      }
      .profile-card-1 .icon-block{
          float:left;
          width:100%;
          margin-top:15px;
      }
      .profile-card-1 .icon-block a{
          text-decoration:none;
      }
      .profile-card-1 i:hover {
        background-color:#fff;
        color:#2E3434;
        text-decoration:none;
      }
