.test-monial .orange-text{
  color: orange;
   
}
     @font-face {
        font-family: Orbitron;
        src: url(../fonts/Pacifico/Orbitron-Regular.ttf);
      }
      .custom-font{
          font-family:  Orbitron;
      }

      .test-monial{
          background-color:rgba(140, 71, 230, 0.411) ; 
             }