*
{
    box-sizing: border-box;
}

#info-bar
{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#general-button
{
    background-color: transparent;
    border: none;
    overflow: hidden;
}

body
{
    min-width: 100%;
    overflow-x: hidden;
}

#myTabContent, #quizzesContent, #reviewContent, #mediaContent, #newsContent
{
    margin-left: 10px;
    width: 100%;
    height: 100%;
    min-height: 700px;
}

#quizzesContent, #reviewContent, #mediaContent, #newsContent
{
    display: none;
}

.profile
{
    padding: 3%;
    border: solid 1px #1f58f7;
    border-radius: 10px;
    background: #fff;
    height: auto;
    min-height: 700px;
    min-width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}




.profile #profile-image
{
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;

}

#change, #remove
{
    overflow: hidden;
    margin: 0px;
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 0;
    text-align: center;
    display: inline-block;
    top: 135px;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#change
{
    left: 39px;
}

#remove
{
    left: 114px;
}

.change-remove-icons
{
    overflow: hidden;
    display: none;
    text-align: center;
    width: 50px;
    height: 30px;   
}

.profile .profile-image section
{
    position: absolute;
    left: auto;
    right: auto;
}

.profile .profile-tab
{
    margin-top: 10px ;
    margin-left: 20px;
    min-height: 700px;
}

.profile .profile-tab label
{
    font-weight: 600;
}

.profile .profile-tab p
{
    font-weight: 600;
    color: #0062cc;
}

.main
{
    margin: 15px 10px 0px 15px;
}

table
{
    width: 100%;
    border: 0px;
}

table tr
{
    border-bottom: 1px solid #eaeaea;
    width: 100%;
}

th {
    color: #9a9fa8;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    padding: 10px 0;
    padding-left: 15px;
}
.td1
{
    float: left;
}

.general
{
    font: 30px bold ;
    color: black;
}

.td2
{
    float: right;
}

.td2 img
{
    width: 10px;
    height: 10px;
}

.elementspan
{
    display: none;
}

.dropbtn
{
    border: none;
    background-color: transparent;
    overflow: hidden;
    background-image: url("../img/profile/down-arrow.png");
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #a057db;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 160px;
} 

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 


.show
{
    display: block;
}

.card{
    border: #0062cc solid 2px;
    width: 90%;
    margin: 20px auto;
    padding-left: 10px;
    float: left;
}

.delete
{
    width: 25px;
    height: 25px;
    float: right;
    margin: 5px;
}

.row
{
    /* min-width: 485px; */
    max-width: 94%;
}

.sidebar a, #general-button, input, .dropbtn, .delete, .strquiz
{
  cursor: pointer;
}

.element:hover, .dropbtn:hover, .dropdown-content a:hover, .strquiz:hover, .sidebar a:hover:not(.active)
{
    background-color: rgb(227, 228, 158);
    color: black;
}

#mainNav
{
    text-align: center;
    background-color: #447fec;
    width: 100%;
    float: right;
    padding: 8px 16px;
}

#mainNav a
{
    display: block;
    color: black;
    text-decoration: none;
    float: left;
    cursor: pointer;
}

#mainNav a.active
{
    background-color: #0062cc;
    color: white;
}



.nav-container
{
    margin: 3px 2px 3px 0px;
    float: right;
    width: 100%;
}

#navbarResponsive
{
    float: left;
    margin: 0px;
}

#navbarResponsive ul li a
{
    padding: 15px 8px 15px 0px;
}

.nav-item
{
    margin-right: 5px;
}





.box19 ul img
{
    height:100%;width:100%;
    max-width: 250px;
    max-height: 250px;
    box-shadow: 0 0 5px #a3a3a3;
    text-align:center;
    position:relative;
}
.box19 .box-content
{
    width:100%;
    max-width: 252.487px;
    height:100%;
    background:0 0;
    padding-top:25%;
    position:absolute;
    top:0;
    left:0;
    transition:all .3s ease 0s;
}
.box19 .icon,
.box19 .title
{
    transition:all .2s ease 0s;
}
.box19:hover .box-content
{
    background:rgba(0,0,0,.5);
}
.box19 .title
{
    font-size:24px;
    color:#fff;
    transform:scale(0);
}
.box19:hover .title
{
    transform:scale(1);
}
.box19 .icon
{
    list-style:none;
    padding:0;
    margin:0;
    opacity:0;
}
.box19:hover .icon
{
    opacity:1;
}
.box19 .icon li
{
    display:inline-block;
}
.box19 .icon li:first-child a,
.box19 .icon li:last-child a
{
    display:block;
    width:50px;
    height:50px;
    -height:50px;
    -size:24px;
    color:#fff;
    border:1px solid #fff;
    position:relative;
}
.box19 .icon li a
{
    top:-50px;
}
.box19:hover .icon li a
{
    top:0px;
}
.box19:hover .icon li a:hover
{
    background:#a46789;border-color:#a46789;
}
.box19 .icon li:first-child a
{
    transition:all .6s cubic-bezier(.175,.885,.32,1.275) 0s;
}
.box19 .icon li:last-child a
{
    transition:all .6s cubic-bezier(.175,.885,.32,1.275) .1s;
}
@media only screen and (max-width:300px)
{
    .box19{margin-bottom:30px};
}
@media only screen and (max-width:300px)
{
    .box19 .box-content
    {
        padding-top:20%;
    }
}

.enroll
{
    float: left;
    padding: 7px 0px;
    text-align: left;
    width: 101.979166px;
}



/*-----------------------------------------------pop up*/



/* Set a style for all buttons */
#id01 button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}

#id01 button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
#id01 #yesbtn, #id01 #nobtn {
  padding: 10px 18px;
  display: inline;
  text-align: center;
  margin:7px 0px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
}

#id01 #yesbtn {
    background-color: #f44336;
  }
#id01 #yesbtn {
    background-color: #0062cc;
  }
  

/* Center the image and position the close button */
#id01 .imgcontainer {
  text-align: center;
  margin: 7px 0 20px 0;
  position: relative;
}

#id01 img.avatar {
  width: 40%;
  border-radius: 50%;
}

#id01 .container {
  padding: 16px;
}

#id01 span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
#id01 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
#id01 .modal-content {
  background-color: #fefefe;
  margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  min-width: 401.354 px;
}

/* The Close Button (x) */
#id01 .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#id01 .close:hover,
#id01 .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
#id01 .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  
  #yesbtn, #nobtn {
     width: 100%;
  }
}

/*enrolled pop up*/

.modalEnrolled {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modalEnrolled-content {
    background-color: #ffffff;
    margin: 10% auto 15% auto;
    padding: 8px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .closeEnrolled {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .closeEnrolled:hover,
  .closeEnrolled:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #innerModal label
  {
      margin: 10px auto 2px auto;
      float: left;
  }
