.Chat__header {
  text-align: center;
  padding-top: 32px;
  width: 100%;
}

.Chat__header h1, .Chat__header h1 a {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.Chat__holder,
.Chat__body {
  border-radius: 0.5em;
}

.Chat__holder {
   height: 640px;
  margin: 32px auto 0 auto;
  max-width: 360px;
  max-height: calc(100vh - 140px);

  width: 360px auto;
}

.Chat__title {
  background: #0062ff;
}


.Chat__body {
  max-width: fit-content;
  height: 640px;
  width: 360px;
  max-height: calc(100vh - 140px);
}
.Chat__body--loading {
  text-align: center;
}

.Chat__body--loading .bx--loading {
  margin: auto;
}

.Chat__404 {
  text-align: center;
}

.Chat__loading {
  margin: auto;
  text-align: center;
  width: 64px;
}
.link-icon {
  fill: #0062ff;
}
/* Fonts */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
  url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIxsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
  U+FE2E-FE2F;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
  url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIVsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
  url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIJsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
  url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI5sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
  url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI9sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
  url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
  U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ************************ */

*{padding:0;margin:0;}

body{
font-family:Verdana, Geneva, sans-serif;
background-color:#CCC;
font-size:12px;
}

.label-container{
position:fixed;
bottom:48px;
right:105px;
display:table;
visibility: hidden;
}

.label-text{
color:#FFF;
background:rgba(255, 102, 0, 0.5);
display:table-cell;
vertical-align:middle;
padding:10px;
border-radius:3px;
}

.label-arrow{
display:table-cell;
vertical-align:middle;
color:#333;
opacity:0.5;
}

.float{
position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#06C;
color:#FFF;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
}

.my-float{
font-size:24px;
margin-top:18px;
}

a.float + div.label-container {
visibility: hidden;
opacity: 0;
transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
visibility: visible;
opacity: 1;
}