.navbar
{
    background:#222222;
}
.nav-item::after
{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background:white;
    transition: 0.2s;
}
.nav-item:hover::after
{
    width:100%;
}
.navbar-dark
.navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover
{
    color:#04D2C8;
}
.nav-link
{
    padding:15px 5px;
    transition:0.2s;
}
.dropdown-item.active, .dropdown-item:active
{
    color:white;
}
.dropdown-item:focus, .dropdown-item:hover
{
    background:#04D2C8;
}
/*  */
.boxed_btn_orange {
    cursor: pointer;
    font-size: 16px;
    color: 
    #fff;
    padding: 12px 30px;
    background:
    #FDAE5C;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid
    transparent;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    text-decoration: none;
    transition: 0.3s;
    margin: 10px 5px;
}

/*  */
 .test{ 
    background-image: url("../../img/background/bradcam.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75px auto;      
      width: 100%;
}
 .set-title h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;
    color: white; 
}
